@define-color arc-blue #209ddd;
@define-color arc-blue-light #209ddd;
@define-color arc-blue-light-hover #20c5dd;
@define-color arc-black #2d323d;
@define-color arc-red #000000;
@define-color arc-blue-hover #629de2;
@define-color arc-blue-active #3aa3e2;
@define-color default-grey #656565;
@define-color install #209ddd;
@define-color install-hover #20c5dd;
@define-color arc-blue-light-light #8ae4ee;
@define-color uninstall #cc0000;
@define-color uninstall-hover #cc5555;
	
	
	GtkLabel {
		font: 12pt Roboto;
	}
	
	#OPTION_LABEL {
		font: 11pt Roboto Light;
		font-weight: bold;

	}

	#INFO_LABEL {
		font: 11pt Roboto Light;
		color: #ff0000;

	}
	
	#SEPARATOR_MAIN{
		background-color: @arc-blue;
	}

	#SECTION_LABEL{
		font: 14pt Roboto;
		font-weight: bold;
		color: @arc-blue;
	}


	#KERNEL_OVER
	{

		background-color: @arc-blue-light-light;
	}

	#KERNEL_REGULAR
	{
		background-color: white;

	}

	#GREY
	{
		background-color: #f5f5f5;
		
	}

	#RED
	{
		background-color: #ff0000;
		
	}


	#LIGHTBLUE
	{

		background-color: @arc-blue-hover;
	}
	

	#SEPARATOR{
		color: @arc-blue;
	}

	#ERROR_LABEL {
		font: 11pt Roboto Light;
		color: rgba(250,10,10,0.8);
	}
	
	#EXECUTE_BUTTON {
		
		border-width: 0px;
		box-shadow: none;
		border-color: #76819a;
		background-image:-gtk-gradient (linear,	left top, left bottom, from (#76819a),  to (#76819a));
		font: 11pt Roboto Light;
		text-shadow: none;
		color: rgba(0,0,0,0.7);
		
	}
	
	#EXECUTE_BUTTON:hover {
		
		border-color: #209ddd;
		background-image:-gtk-gradient (linear,	left top, left bottom, from (#209ddd),  to (#209ddd));
		box-shadow: -0.5px 3px 3px #aaaaaa;
		font: 11pt Roboto Light;
		text-shadow: none;
		color: rgba(255,255,255,1);
		
	}
	
	#EXECUTE_BUTTON .label {
		font: 11pt Roboto Light;
		color: rgba(0,0,0,0.8);
	}
	
	#EXECUTE_BUTTON:hover .label {
		font: 11pt Roboto Light;
		color: rgba(255,255,255,1);
	}

	#INSTALL_BUTTON {
		
		background-image:-gtk-gradient (linear, left top, left bottom, from (@install), to (@install));
		border-width: 0px;
		box-shadow: none;
		border-color: #76819a;
		text-shadow: none;
		font: 11pt Roboto Light;
		color: rgba(0,0,0,0.7);
		
		
	}

	#INSTALL_BUTTON:hover {
		
		border-color: #209ddd;
		background-image:-gtk-gradient (linear, left top, left bottom, from (@install-hover), to (@install-hover));
		box-shadow: -0.5px 3px 3px #aaaaaa;
		text-shadow: none;
		font: 11pt Roboto Light;
		color: rgba(255,255,255,1);
		
	}
	
	#INSTALL_BUTTON .label {
		font: 11pt Roboto Light;
		color: rgba(0,0,0,0.8);
	}
	
	#INSTALL_BUTTON:hover .label {
		font: 11pt Roboto Light;
		color: rgba(255,255,255,1);
	}

	#UNINSTALL_BUTTON {
		
		background-image:-gtk-gradient (linear, left top, left bottom, from (@uninstall), to (@uninstall));
		border-width: 0px;
		box-shadow: none;
		border-color: #76819a;
		font: 11pt Roboto Light;
		text-shadow: none;
		color: rgba(255,255,255,1);
		
		
	}

	#UNINSTALL_BUTTON:hover {
		
		border-color: #209ddd;
		background-image:-gtk-gradient (linear, left top, left bottom, from (@uninstall-hover), to (@uninstall-hover));
		box-shadow: -0.5px 3px 3px #aaaaaa;
		font: 11pt Roboto Light;
		text-shadow: none;
		color: rgba(255,255,255,1);
		
	}
	
	#UNINSTALL_BUTTON .label {
		font: 11pt Roboto Light;
		color: rgba(255,255,255,1);
	}
	
	#UNINSTALL_BUTTON:hover .label {
		font: 11pt Roboto Light;
		color: rgba(255,255,255,1);
	}

	#OPTION_BUTTON {
		
		border: 0px;
		box-shadow: none;
		background-image:-gtk-gradient (linear, left top, left bottom, from (#ffffff), to (#ffffff));
		text-shadow: none;
		color: rgba(0,0,0,0.5);
		/*box-shadow: -0.5px 2px 3px #cdcdcd;*/
		
	}

	#OPTION_BUTTON:hover {
		border: 0px;
		border-color: #209ddd;
		box-shadow: none;
		background-image:-gtk-gradient (linear, left top, left bottom, from (#209ddd), to (#209ddd));
		text-shadow: none;
		color: rgba(255,255,255,1);
		/*box-shadow: -0.3px 2px 2px #cecece;*/
	}

	#OPTION_BUTTON .label {
		color: rgba(0,0,0,0.5);
	}
	
	#OPTION_BUTTON:hover .label {
		color: rgba(255,255,255,1);
	}
	
	#OPTION_ENTRY {
		border: 0px;
		background-color: #ffffff;
	}
	
	#OPTION_ENTRY:hover{
		
	}
	
	#SELECTED_OPTION_BUTTON {
		border: 0px;
		box-shadow: none;
		background-image:-gtk-gradient (linear, left top, left bottom, from (#76819a), to (#76819a));
		text-shadow: none;
		color: rgba(255,255,255,0.8);
	}

	#SELECTED_OPTION_BUTTON:hover {
		border: 0px;
		box-shadow: none;
		background-image:-gtk-gradient (linear, left top, left bottom, from (#209ddd), to (#209ddd));
		text-shadow: none;
		color: rgba(255,255,255,0.8);
		/*box-shadow: -0.5px 2px 4px #9d9d9d;*/
	}

	#SELECTED_OPTION_BUTTON .label {
		color: rgba(255,255,255,0.8);

	}	
	
    #WINDOW{
		
		background-color: #ffffff;
		
	}
	
	#MENU_WINDOW{
	
		background-color: #2f343f;
		
		border: 0px;
	}
	
	#MENU_WINDOW{
	
		background-color: #2f343f;
	}


	#DELETE_ITEM_BUTTON {
			border-width: 5px;
			border-radius: 0px;
			padding: 0px 0px;
			box-shadow: none;
			border-color: #ff3b30;
			
			color: white;
			background-image:-gtk-gradient (linear,	left top, left bottom, from (#ff3b30),  to (#ff3b30));
			text-shadow: none;
			
			
		}
		
	#DELETE_ITEM_BUTTON:hover {
		border-color: #ff6c30;
		background-image:-gtk-gradient (linear,	left top, left bottom, from (#ff6c30),  to (#ff6c30));
		text-shadow: none;
		box-shadow: -0.5px 3px 3px #aaaaaa;
	}

	#PKG_BOX {
		border-width: 5px;
		border-color: #2f343f;
		background-color: #ffffff	;
		box-shadow: -0.5px 3px 2px #cdcdcd;
		
	}
	
	#PKG_BOX:hover {
		box-shadow: -0.5px 3px 2px #cacaca;
	}
	
	
	#ITEM_LIST {
		background-image:-gtk-gradient (linear,	0 0, 0 1, 
			
				color-stop(0, rgba(255,255,255,1)),
				color-stop(0.1, rgba(255,0,0,1)),
				color-stop(0.2, rgba(0,255,0,1)),
				color-stop(0.3, rgba(0,0,255,1)),
				color-stop(0.4, rgba(255,255,0,1)),
				color-stop(0.5, rgba(255,0,255,1)),
				color-stop(0.6, rgba(0,255,255,1)),
				color-stop(0.7, rgba(0,0,0,1)),
				
				color-stop(1, rgba(255,255,255,1))
			);
	}
	
	


#ENTRY
{
                color: @default-grey;
                border: none;
                border-radius: 0px;
                /*background-color: @arc-blue;*/
                border-bottom: 1px solid #aaaaaa;
                padding: 4px;
                /*background: #eeeeee;*/

                /*border-bottom: 2px solid transparent;*/

}

#ENTRY:focus
{
                color: @arc-blue;
				border: none;
				border-radius: 0px;
                border-bottom: 1px solid @arc-blue-light;
                /*border-bottom: 2px solid rgba(0,0,0,0);*/
                /*background-color: transparent;*/


}
#ENTRY:selected
{
        color: white;
}

#ENTRY:disabled
	{
		background-color: #bbbbbb;
		border-bottom: 1px solid transparent;
		color: #999999;
	}
