Source: first-aid-kit
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders:Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>,  David Montalva Furio <montalva_dav@gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>, M.Angel Juan <m.angel.juan@gmail.com>
Build-Depends:llxsrchelper,debhelper (>= 9), python3-pkexec-debhelper, python3-dateutil, python3-poinstaller, zero-dev
Standards-Version: 3.9.5

Package: first-aid-kit
Architecture: all
Depends: ${misc:Depends},python3,python3-dateutil,python3-cpuinfo
Description: First Aid Kit
 Solve your regular problems in LliureX
